doctype html
html
  head
    link(rel="stylesheet" href="/semantic-ui/semantic.min.css")
    link(rel='stylesheet' href="/stylesheets/style.css")
    script(type="text/javascript" src="app.js")

  body
   div(class="ui container")
    h2(class="ui center aligned icon block header")
      i(class="music icon")     
        h1 Demo App Albums
    block content